body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    flex-wrap: wrap;
    margin: 0;
}

button {
    font-family: Roboto, sans-serif;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    color: #f9faf8;
    transition-duration: 0.4s;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

.header,
.title,
.footer {
    background-color: #1f2937;
}

.header,
.title {
    color: #f9faf8;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
}

.description {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 16px;
}

.page-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.title-left {
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    margin: 32px;
}

.title-right {
    height: 250px;
    width: 500px;
    display: flex;
    padding: 32px;
    margin: 32px;
}

.information {
    background-color: white;
    text-align: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 32px;
    margin-top: 32px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}

img.info-img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.info {
    max-width: 200px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    padding: 72px 144px;
}

.quotee {
    margin-left: auto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-modal {
    display: flex;
    background-color: #3882f6;
    color: white;
    width: 600px;
    gap: 16px;
    padding: 32px 48px;
    margin: 48px;
    border-radius: 8px;
}


.modal-header {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-text {
    font-size: 14px;
    font-weight: 100;
}

.button2 {
    border: 2px solid #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: #e5e7eb;
}